
<% include ../layout/header%>
     <section id="portfolio">
        <div class="container">
            <h1 class="bd-title mb-5" id="content">Cập nhật Chuỗi Hành Động</h1>
            
            <div class="form-row">
            </div>
        
            <% include ./content%>
            <button type="submit" class="btn btn-primary" onClick = "saveTask()"><i class="fas fa-save"></i> Lưu Thay Đổi</button>
            <a class="btn btn-outline-secondary" href="/chainAction"><i class="fas fa-project-diagram" style="color: #fa0303"></i> Các Chuỗi Hành Động</a>
        </div>
    </section>
    <% include ../layout/footer%>
    <% include ./js%>
  </body>
</html>
