<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FBook Manager</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    
    <link
      href="/css/main.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-offcanvas@1.0.0/offcanvas.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <% include layout/header%>
    
      <div class="row row-offcanvas row-offcanvas-right" >
        <div class="col-sm-12">
          <div class="jumbotron" style = "margin-top: 60px">
            <div class="intro-text text-center">
                <h1 class="name" style="font-size: 40px;">
                    INTELLIGENT FACEBOOK MANAGER SYSTEM                     
                </h1>
                <hr>
                <a style="font-size: 10em; color: #1e90ff;" href = "#"><i class="icon-users"></i></a>
                <h5 class="skills">Quản lý tương tác Facebook tự động và chuyên nghiệp</h5>
                <br><br><br>
                <a class="btn" href="/register" target="_self" id="lp-pom-button-36"><span class="label">Thử Miễn Phí</span></a>
            </div>
          </div>
        </div>
    <div class="container">
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
          <% include layout/sidebar%>
        </div>
      </div>
    </div>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Giá trị cho bạn</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Hệ thống CSKH Tự động</p>
                                <p>Kết nối và gia tăng tương tác, quan tâm đến Khách hàng hoàn toàn tự động</p>
                            </div>
                        </div>
                        <img src="/storage/Freelancer/img/1.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Cài đặt nội dung phong phú có chủ đích</p>
                                <p>Bạn đưa vào các nội dung hấp dẫn khách hàng, thể hiện chủ ý của bạn nhằm quan tâm, thu hút khách hàng</p>
                            </div>
                        </div>
                        <img src="/storage/Freelancer/img/2.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Cài đặt thời gian như ý theo tuần </p>
                                <p>Nội dung bình luận được cài theo thời gian hẹn trước, theo ngày và giờ, giúp bạn lên ý tưởng thời gian. Cài đặt 1 lần mà tăng hiệu quả bán hàng, truyền thông trong cả tuần, cả tháng</p>
                            </div>
                        </div>
                        <img src="/storage/Freelancer/img/3.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">

                                <p>Kết nối mạnh mẽ với 3 tài khoản Facebook</p>
                                <p>Mỗi Khách hàng được sử dụng 3 nick Facebook giúp bạn truyền thông quảng bá, hỗ trợ nuôi nick. Rất mạnh mẽ và hiệu quả</p>
                            </div>
                        </div>
                        <img src="/storage/Freelancer/img/4.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Tiết kiệm thời gian, gia tăng hiệu quả công việc</p>
                                <p>Hệ thống làm việc cả khi bạn ngủ, khi bạn bận giúp việc chăm sóc khách hàng và ra đơn hàng tiềm năng trở nên liên tục và dễ dàng hơn bao giờ hết!</p>
                            </div>
                        </div>
                        <img src="/storage/Freelancer/img/5.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Gia tăng lợi nhuận và doanh thu</p>
                                <p>Nhanh chóng truyền thông mạnh mẽ thương hiệu sản phẩm của bạn trên hàng chục ngàn bài viết mỗi ngày giúp đẩy cao doanh thu cho bạn, tiết kiệm chi phí lương và tăng lợi nhuận</p>
                            </div>
                        </div>
                        <img src="/storage/Freelancer/img/6.jpg" class="img-responsive" alt="">
                    </a>

                </div>
            </div>
        </div>
    </section>
    <% include layout/footer%>
  </body>
  <style>
  #lp-pom-button-36 {
    border-style: none;
    border-radius: 4px;
    z-index: 18;
    width: 256px;
    height: 46px;
    background: rgba(255,57,117,1);
    box-shadow: none;
    text-shadow: none;
    color: #ffffff;
    border-width: undefinedpx;
    border-color: #undefined;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    font-family: PT Sans;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}
  </style>
</html>
