
<% include ../layout/header%>
     <section id="portfolio">
        <div class="container" style="border: 1px solid #dfdfdf;border-radius: 5px;padding: 20px 15px;">
            <h1 class="bd-title mb-5" id="content">VIP</h1>
            <ul class="list-group mt-5">
                <div class="overflow-auto">
                <% if(vips != null) { %>
                <% vips.forEach(function(item) { %>
                    <li class="list-group-item justify-content-end mt-3">
                        <h5><%= item.facebook %></h5>
                        <a class="btn btn-outline-primary" href="/vip/<%= item.id %>"><i class="icon-pencil"></i> Chi Tiết</a>
                        <button onclick='remove("<%= item._id %>")' class="btn btn-outline-danger ml-3" ><i class="icon-trash-alt" style="color: red"></i> Xóa</button>
                    </li>
                <% }); %>
                <% }; %>
                </div>
            </ul>
            <a class="btn btn-primary mt-3" href="/vip/new"><i class="icon-plus"></i> Thêm mới</a>
        </div>
    </section>
    <% include ../layout/footer%>
    <script>
        var remove = function(id) {
            id = id.trim()          
            const url = `/vip/${id}`;
            axios.delete(url)
                .then(function (response) {
                    location.reload()
                })
                .catch(function (error) {
                    location.reload()
                    console.log(error);
                });
                // location.reload();
        }
    </script>
    
  </body>
</html>
